@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col s12 m4">
        <!-- Task List Widget-->
        <div class="card smaller blue-grey lighten-2 dashboard-widget">
            <div class="card-content white-text">
                <span class="card-title">Task List</span>
                <ul>
                    <li><span><i class="material-icons left">done</i>Email Speakers</span></li>
                    <li><span><i class="material-icons left">done</i>Call Sponsors</span></li>
                    <li><span><i class="material-icons left">block</i>Order More  Food</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <!-- Summary Widget-->
        <div class="card smaller light-blue darken-3 dashboard-widget">
            <div class="card-content white-text">
                <span class="card-title">Summary</span>
                <table class="bordered">
                    <tbody>
                        <tr>
                            <td> Registrations</td>
                            <td class="right">1200</td>
                        </tr>
                        <tr>
                            <td> Speakers</td>
                            <td class="right">60  </td>
                        </tr>
                        <tr>
                            <td> Submissions</td>
                            <td class="right">84</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <!-- Important Dates Widget-->
        <div class="card smaller blue-grey lighten-2 dashboard-widget">
            <div class="card-content white-text">
                <span class="card-title">Important Dates</span>
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
        </div>
    </div>
</div>

